@model IEnumerable<Artist>

@{
    ViewData["Title"] = "List of artists";
}

<head>
    <meta charset="utf-8" />      
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<div class ="row">
    <div>
        <table>
            <thead>
                <tr class = "text-center">
                    <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.ArtistName)</th>
                    <th>@Html.DisplayNameFor(model => model.ArtistBio)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class=" biggie">
                    <td>
                        <img class= "rounded-circle" src = "@item.ProfilePictureURL"  style = "max-width: 150px "/>
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistBio)
                </td>
                <td class="buttons">
                            <a class=" btn btn-outline-primary  " asp-action="Edit" asp-route-id=" @item.Id"> <i class="bi bi-pencil-square"></i>Edit</a>
                            <a class=" btn btn-outline-info " asp-action="Details" asp-route-id=" @item.Id"> <i class="bi bi-eye"></i>Details</a>
                            <a class=" btn btn-danger  " asp-action="Delete" asp-route-id=" @item.Id"> <i class="bi bi-trash"></i>Delete</a>
                             <a class="btn btn-outline-primary" asp-action="ArtistAlbums" asp-route-id="@item.Id">
                <i class="bi bi-album"></i>View Artist' Albums
            </a>
                    </td>
            </tr>
                }
            </tbody>
        </table> 
    </div>
</div>

@await Html.PartialAsync("_CreateItem","Artists")
