@using RecordClique.Data.ViewModels
@model UserAlbumsVM

<head>
    <title>Friends Albums</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="~/css/Account/FriendsAlbums.css" />
</head>

<div class="container">
    <h1>@Model.FriendName's Albums</h1>

    @foreach (var albumCollection in new[] { new { Name = "Favourite Albums", Albums = Model.FavouriteAlbums }, new { Name = "Wishlist Albums", Albums = Model.WishlistAlbums }, new { Name = "Listening Albums", Albums = Model.ListeningAlbums } })
    {
        <h2>@albumCollection.Name</h2>
        <div class="slider">
            @foreach (var album in albumCollection.Albums)
            {
                <div class="card album-card">
                    <img class="card-img-top album-image" src="@album.AlbumCoverURL" alt="@album.AlbumName" />
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => album.AlbumName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => album.AlbumDescription)</p>
                        <a class="btn btn-primary album-action-button" asp-controller="Albums" asp-action="Details" asp-route-id="@album.Id">
                            <i class="bi bi-eye"></i>View Album
                        </a>
                    </div>
                </div>
            }
        </div>
        <br />
    }
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="~/js/Account/FriendsAlbums.js"></script>
}
