@model IEnumerable<RecordClique.Models.ApplicationUser>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Account/MyFriends.css" />
</head>


<div class="container">
    <h1>My Friends</h1>

    <ul class="user-list">
        @foreach (var item in Model)
        {
            <li class="user-item">
                <div class="user-info">
                    <h5 class="user-fullname">@Html.DisplayFor(modelItem => item.FullName)</h5>
                    <p class="user-username">@Html.DisplayFor(modelItem => item.UserName)</p>
                    <p class="user-email">@Html.DisplayFor(modelItem => item.Email)</p>
                </div>
                <div class="user-action">
                    <form asp-controller="Friend" asp-action="RemoveFriend" method="post">
                        <input type="hidden" name="friendId" value="@item.Id">
                        <button type="submit" class="btn-remove">Remove Friend</button>
                    </form>
                    <form asp-controller="Account" asp-action="FriendsAlbums" method="get">
                        <input type="hidden" name="friendId" value="@item.Id">
                        <button type="submit" class="btn-view">View Albums</button>
                    </form>
                </div>
            </li>
        }
    </ul>
</div>
