@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of all users";
}


  @{
    var message = TempData["Message"] as string;
    if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-warning">
            @message
        </div>
    }
}



<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Account/Users.css" />
</head>

<div class="container">
    <h4>List of all users</h4>

    <ul class="user-list">
        @foreach (var item in Model)
        {
            <li class="user-item">
                <div class="user-info">
                    <h5 class="user-fullname">@Html.DisplayFor(modelItem => item.FullName)</h5>
                    <p class="user-username">@Html.DisplayFor(modelItem => item.UserName)</p>
                    <p class="user-email">@Html.DisplayFor(modelItem => item.Email)</p>
                </div>
                <div class="user-action">

             @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                 {
                    <form asp-controller="Friend" asp-action="AddFriend" method="post">
                        <input type="hidden" name="friendId" value="@item.Id">
                        <button onclick="messageAddedFriend(' @item.FullName ')" type="submit" class="btn-friend">Add Friend</button>
                    </form>
                 }
                </div>
            </li>
        }
    </ul>
</div>



@section Scripts{
      <script>
        function messageAddedFriend(name) {        
            alert(`You added  ${name} as your friend!`);
        }

        
    </script>

}


